{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for unArt in articles %}
        <li><a href="{{ path('article_show', {'slug': unArt.slug}) }}">{{ unArt.title }}- {{ unArt.countView }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
